<%= form_for(@species) do |f| %>
  <% if @species.errors.any? %>
    <div id="error_explanation">
      <h2>
        <%= pluralize(@species.errors.count, "error") %> prohibited
        this species from being saved:
      </h2>

      <ul>
      <% @species.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <% if flash[:success] %>
    <div class="notice"><%= flash[:success] %></div>
  <% end %>


  <div>
    <%= f.label :genusSpecies %>
    <%= f.text_field :genusSpecies %>
  </div>

  <div>
    <%= f.label :commonName %>
    <%= f.text_field :commonName %>
  </div>

  <div>
    <%= f.label :indigenousName %>
    <%= f.text_field :indigenousName %>
  </div>

  <%= f.collection_select(:family_id, Family.all, :id, :name) %>

  <%= f.fields_for :images do |fff| %>
    <div>
      <%= fff.label :image %>
      <%= fff.file_field :image %>
    </div>

    <div>
      <%= fff.label :genusSpecies %>
      <%= fff.text_field :genusSpecies %>
    </div>

  <% end %>

  <%= f.fields_for :species_locations do |ff| %>
    <div>
      <%= ff.label :latitude %>
      <%= ff.number_field :lat, class: :text_field, step: :any %>
    </div>

    <div>
      <%= ff.label :longitude %>
      <%= ff.number_field :lon, class: :text_field, step: :any %>
    </div>

    <div>
      <%= ff.label :arborplan_id %>
      <%= ff.text_field :arborplan_id%>
    </div>

    <div>
      <%= ff.label :Information %>
      <%= ff.text_area :information %>
    </div>
    <%= ff.check_box :_destroy %>
    <%= ff.label :_destroy, "Remove location" %>
  <% end %>

  <p><%= f.submit "Submit" %></p>

<% end %>
