<style>
li a{
  color:black;
  text-decoration: none;

}

ul.accounts {
    list-style-type: none;
    margin: 0;
    padding: 0;
    width: 250px;
}

li.accounts {
    display: block;
    padding: 8px 16px;
}

#headerUl {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #A9A9A9;
}

#headerLi {
    float: left;
    display: block;
    color: white;
    padding: 14px 16px;
    text-decoration: none;
}
/* Change the link color on hover */
</style>

<ul id="headerUl">
  <li id="headerLi"><%= link_to "Back to the app", map_index_path %></li>
  <% if logged_in? %>
    <li id="headerLi"><%= link_to "Accounts", accounts_path %></li>
    <li id="headerLi"><%= link_to "Families", families_path %></li>
    <li id="headerLi"><%= link_to "Log out", logout_path, method: "delete" %></li>
  <% else %>
    <li id="headerLi"><%= link_to "Log in", login_path %></li>
  <% end %>
</ul>

<% if flash[:success] %>
    <div class="success"><%= flash[:success] %></div>
<% end %>
<% provide(:title, @account.name) %>
<div class="row">
  <aside class="col-md-4">
    <section class="user_info">
      <h1>
        <p> UserName: </p>
        <%= @account.name %>
      </h1>
      <h2>
        <p> email: </p>
        <%= @account.email %>
      </h2>
    </section>
  </aside>
</div>
